# Ignorer tous les fichiers
*

# Ne pas ignorer les fichiers nécessaires
!.gitignore
!README.md  # Si tu veux inclure un fichier README

# Ne pas ignorer la configuration de Neovim
!.config/
!.config/nvim/

# Ne pas ignorer les dotfiles et fichiers spécifiques
!.gitconfig

!.zshrc
!.zshenv
!.oh-my-zsh/
!.oh-my-zsh/plugins
!.oh-my-zsh/themes
!.oh-my-zsh/tools
!.oh-my-zsh/templates
!.p10k.zsh

!zsh_env_vars.txt
!zsh_plugins.txt
!.tmux/
!.tmux.conf
!installer.sh
